<h1>Listing Books</h1>

<table class="table table-bordered table-dark bg">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category</th>
      <th scope="col">Book_name</th>
      <th scope="col">Author_name</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
      
      <th scope="col">SHOW</th>
      <th scope="col">EDIT</th>
      <th scope="col">DELETE</th>
    </tr>
  </thead>
  <tbody>

    <% @books.each do |book | %>
      <tr>
        <td><%= book.id%></td>
        <td><%= book.category.try(:name) %></td>
        
        <td><%= book.book_name %></td>
        <td><%= book.author_name %></td>
        <td><%= book.price %></td>
          <% if book.image.present?%>
          <%#= image_tag @book.image_url %>
        <td><%=image_tag(book.image.url, size: "50x50")%></td>
          
          <% end %>
       
        <td><%= link_to 'Show', book_path(book), :class => "btn btn-success" %></td>
        <% if book.user_id == current_user.id %>
          <td><%= link_to 'Edit', edit_book_path(book), :class => "btn btn-info" %></td>
        
        <td><%= link_to 'Destroy', book_path(book),
                method: :delete,
                data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
                <%end %>  
      </tr>

    <% end %>  
  </tbody>
  <% if @books.blank? %>
  <h4>There are no books containing the term <%= params[:search] %>.</h4>
<% end %>
</table>

<%= will_paginate @books %>
<style type="text/css">
  .bg {
   background-color: black;
  }
</style>